#nav {
  margin:0 auto;

  @media screen and (min-width: 768px) {
    width: 750px;
  }

  @media screen and (min-width: 1200px) {
    width: 1180px;
  }
}

.logo-mask {
  position: relative;
  height: 50px;
  cursor: pointer;
  display: inline-block;
}

